.container {
    margin-top: 60px;
}

#new_veiculo_btn {
    display: flex;
    margin-bottom: 5px;
}

#veiculos_table {
    white-space: normal;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

#voltar_detalhes_btn {
    display: flex;
    margin-bottom: 5px;
}

#detalhes_btn {
    display: flex;
    margin-bottom: 5px;
    gap:5px;
}